@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Poppins", sans-serif;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.Vue-Toastification__toast--success {
  background: #29a867 !important;
  font-family: "Poppins", sans-serif !important;
}
.Vue-Toastification__toast--error {
  font-family: "Poppins", sans-serif !important;
  background: #f32355 !important;
}
.linear-gradient-custom {
  background: linear-gradient(
    270deg,
    rgba(255, 113, 88, 0.32) 2%,
    rgba(255, 255, 255, 0) 100%
  );
}
